.DrawCard {
    position:relative;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 150px;
}

.DrawCard-button{
    position: absolute;
    margin-top: -120px;
    margin-left: 150px;
}

.DrawCard-card-out {
    margin: 0 auto;
    position: absolute;
    top: 350px;
    font-size: 50px;
    z-index: 10;
    width: 300px;
    font-weight: bolder;
}